<html>
  <head>
    <title>New <%=type%></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form method="POST" action=<%="/"+ type + "/new"%>>
      <h1>New <%=type%></h1>
      <%if (type == "albums") {%>
        <input placeholder="Album Name" name="albumName" type="text" required />
        <select name="artistName">
          <% artists.forEach((artist) => { %>
            <option value=<%=artist.name%>><%=artist.name%></option>
          <%});%>
        </select>
      <%} else if (type == "artists") {%>
        <input placeholder="Artist Name" name="artistName" type="text" required />
        <%}%>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>