<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <a href="albums/new">New Album</a>
    <a href="artists/new">New Artist</a>
    <div>
        <h1>Music</h1>
        <h2>Vinyls</h2>
    <ul>
        <% vinyls.forEach((album) => { %>
            <li>
                <% if (album.albumcover) { %>
                    <img src="../<%=album.albumcover%>" alt="<%= album.albumcover %> Cover" style="max-width: 100px; max-height: 100px;">
                <% } %>
                <p><%= album.albumname %></p>
                <p><%= album.type %></p>
                <p><%= album.name %></p>
                <p><%= album.releasedate %></p>
                <% console.log(album) %>
                 <a href="/albums/<%= album.musicid %>/update">Update</a>
                <a href="/albums/<%= album.musicid %>/delete">Delete</a>
            </li>
        <% }); %>
    </ul>
    <h2>CDs</h2>
    <ul>
        <% cds.forEach((album) => { %>
            <li>
                <% if (album.albumcover) { %>
                    <img src="../<%=album.albumcover%>" alt="<%= album.albumname%> Cover" style="max-width: 100px; max-height: 100px;">
                <% } %>
                <p><%= album.albumname %></p>
                <p><%= album.type %></p>
                <p><%= album.name %></p>
                <p><%= album.releasedate %></p>
                <a href="/albums/<%= album.musicid %>/update">Update</a>
                <a href="/albums/<%= album.musicid %>/delete">Delete</a>
            </li>
        <% }); %>
    </ul>
    </div>
    <div>
        <h1>Artists</h1>
        <% artists.forEach((artist) => { %>
            <li>
                <a href="/artists/<%= artist.artistid %>">
                <p><%= artist.name %></p>
                </a>
            </li>
        <% }); %>
    </div>
</body>
</html>