<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <a href="albums/new">New Album</a>
    <a href="artists/new">New Artist</a>
    <div>
        <h1>Music</h1>
    <ul>
        <% music.forEach((album) => { %>
            <li>
                <p><%= album.albumname %></p>
                <p><%= album.type %></p>
                <p><%= album.name%></p>
                <p><%= album.releasedate%></p>
            </li>
        <% }); %>
    </ul>
    </div>
</body>
</html>